.right .div3{
    top: 50px;
    left: -75px;
    width: 380px;
    height: 310px;
    border: 5px solid 	#161615b9;
    position: relative;
    color: whitesmoke;
    
}
.right .div3 .month .ul2 .prev{
    left: 0;
    top: 40px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    list-style: none;
    position: absolute;
}
.right .div3 .month .ul2 .next{
    left: 350px;
    top: 40px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 700;
    list-style: none;
    position: absolute;
}
 
.right .div3 .month .ul2 .time{
    margin-left: -40px;
    list-style: none;
    margin-top: -20px;
    width: 370px;
    font-size: 24px;
    text-align: center;
}

.right .div3 .month{
    
    left: 0px;
    width: 370px;
    height: 100px;
    background-color: rgba(10, 10, 10, 0.63);
    position: absolute;
}



.right .div3 .weekdays{
    margin-top: 100px;
    width: 370px;
    height: 30px;
    list-style: none;
    background-color: rgba(44, 43, 43, 0.521);
    
}

.right .div3 .weekdays .li3{
    margin-top: 5px;
    padding-left: 20px;
    display: inline-block;
   
}

.right .div3 .days{
    margin-top: -10px;
    list-style: none;
    width: 370px;
    height: 170px;
    text-align: left;
    line-height: 30px;
    background-color: rgba(71, 70, 70, 0.651);
}

.right .div3 .days .li5{
    margin-left: -5px;
    padding-right: 19px;
    padding-left: 19px;
    display: inline-block;
}
.right .div3 .days .li7{
    padding-right: 14px;
    padding-left: 14px;
    display: inline-block;
}
.right .div3 .days .li6{
    padding-right: 13px;
    padding-left: 13px;
    display: inline-block;
}

